h1,h2,h3,p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 52px;
    font-weight: bold;
}

a{
    color: white;
    text-emphasis: none;
    font-size: 16px;
}



#unit {
    text-align: center;
    font-size: 24px;
}

.weatherApp   {
    background-color: white;
    border: 1px solid grey;
    border-radius: 6px;
    max-width: 600px;
    margin: 30px auto;
}

.currentWeather {
	padding: 40px;
	padding-bottom: 0;
}

#future-forecast {
	text-align: center;
	border-top: 1px solid grey;
	margin: 0 auto;
	padding: 10px 40px;
}

#weather-description {
    font-family: 'Comfortaa', cursive;
	margin-bottom: 0;
    text-transform: capitalize;
    font-size: 24px;
}


#current-location {
    font-family: 'Bebas Neue', cursive;
	margin-top: 0;
    font-size: 28px;
}

.searchBar {
    text-align: center;
}

#low-temp, #high-temp, .forecast-low {
    opacity: 40%;
}

.footer {
    text-align: center;
    font-size: 16px;
    color: white;
}

#low-temp, #high-temp {
    font-size: 26px;
}

#weather-icon {
    margin: 0px auto;
    padding: 0;
    width: 80%;
}

#wind-humidity {
    margin: 0px;
    padding: 0px;
}

#sunrise-sunset {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#weather-highlight {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#weather-hightlight {
    line-height: 0px;
}